@import '../../styles/vars-and-helpers';

:host {
  display: block;
  overflow: hidden;
}

.LatLon {
  display: flex;

  margin: 0 $element-spacing / -2;

  &__coordinate {
    margin: 0 $element-spacing / 2;
  }

  &__label {
    display: block;
  }
}